:root {
  --mainBlue: #087a6f;
  --secGray: #595959ff;
  --mywhite: #f2e9dcff;
  --mygreen: #cfd11aff;
  --myorange: rgb(161, 69, 46);
}

body {
  color: black;
  font-family: 'Segoe UI', sans-serif;
  padding: 20px;
}

h1, h2 {
  color: var(--mainBlue);
  font-family: Georgia, serif;
}

section {
  margin-bottom: 2rem;
  border-left: 4px solid var(--mygreen);
  padding-left: 1rem;
}

.color-box {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 5px;
  vertical-align: middle;
  border: 1px solid #000;
}

a {
  color: var(--myorange);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}