
@media (max-width: 481px) {
    .hamburguer{
        visibility: visible;
        font-size:3em;
        padding: 0px;
        margin:-10px;
    }

    nav a:not(.hamburguer){
        visibility: collapse;
    }
}
